.fiction__chapter{ 
    margin: auto;
    padding: 10px;
    width: 100%;
   .fiction__chapter__header{
    display: block;
    position: fixed;
    top: 1%;
    left: 25%;
    width: 50%;
    height:40%;
    border-radius: 20px 20px 0 0;
    background-color: rgb(0, 0, 0);
    white-space: wrap;
    z-index: 11;
    .fiction__chapter__cover{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 250px;
      img{
        height: 200px;
        box-shadow:  
        13px 0.3px 5px #e0cfcff3;
        transform: rotateY(28deg);
      }
    }
    .fiction__chapter__body{
 
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      padding: auto;
      
      h3{
        font-size: 1rem;
        position: relative;
        top: -15%;
        letter-spacing: 10px;
        padding: 5px;
       
      }
      h4{
        position: relative;
        top: -13%;
        color: rgb(155, 147, 147);
        padding: 5px;
        font-size: 10px;
       
      }
      p{
        width: 90%;
        color: gray;
        text-align: left;
        font-size: 13px;
        padding: 5px;
      }
    }

    
   }



    ul{
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: row;
  column-gap: 5px;
  padding: 10px;
  font-size: 18px;
  list-style: none;
  position: absolute;
  top: 40%;
 
  
  
  li{
    
    border-bottom: 1px solid rgb(255, 123, 0);
    padding: 10px;
    text-align: center;
    width: auto;
    
  }
  li:nth-child(even){
    
    border-bottom: 1px solid rgb(10, 148, 240);
   
    
  }
  li:hover{
    transform: translateY(-2px);
    transition: .6s;
    
  }

    }
    button{
      color: rgba(226, 147, 28, 0.671);
      background-color: transparent;
      position: fixed;
      top: 1%;
      border: 1px solid black;
      border-radius: 50% 50%;
      font-size: 2rem;
      z-index: 111;
    }
    
    
}
@media all and (max-device-width:1367px){
 .fiction__chapter{
  
  .fiction__chapter__header{
    height: 30%;
    white-space:wrap;text-overflow:ellipsis;overflow:hidden;
    .fiction__chapter__cover{
     height: 150px;
     img{
      height: 150px;
     }
    }
    .fiction__chapter__body{
      
      p{
        font-size: 5px;
      }
    }
  }
  ul{
 
    top: 42%;
   }
 }
 
}
@media all and (max-device-width:600px){
.fiction__chapter{
  .fiction__chapter__header{
    width: 80%;
    left: 10%;
    .fiction__chapter__body{
padding-top: 20px;
      h3{
        letter-spacing: 5px;
        font-size: 10px;
      }
      p{
        display: none;
      }
    }
  }
  ul{
 font-size: 10px;
 padding: 0px;

 li{
  padding: 0;
 }
  
   }
 
}
}