.hello {
  background-color: rgba(0, 0, 0, 0.897);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello .yaya {
  display: none;
}

.hello .bye {
  display: none;
}

.hello .introduction {
  width: 50rem;
  text-align: center;
  white-space: wrap;
}

.hello .introduction button {
  border: 1px solid;
  background-color: #e2a319;
  border-radius: 10px;
  font-size: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.hello .introduction button a {
  text-decoration: none;
  color: #fdfdfd;
  padding: 5px;
}

.hello .introduction button:hover {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 2px 3px 0 rgba(226, 163, 25, 0.24), 0 2px 15px 0 rgba(226, 163, 25, 0.19);
          box-shadow: 0 2px 3px 0 rgba(226, 163, 25, 0.24), 0 2px 15px 0 rgba(226, 163, 25, 0.19);
}

.hello .section__one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  background-color: black;
}

.hello .section__one .Card {
  white-space: nowrap;
  display: inline-block;
}

.hello .section__one .Card .imageContainer {
  width: 320px;
  height: 40vh;
  overflow: hidden;
}

.hello .section__one .Card .imageContainer img {
  width: 320px;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.hello .section__one .Card .detail {
  color: white;
  height: 600px;
  text-align: left;
  opacity: 0;
  white-space: pre-wrap;
}

.hello .section__one .Card .detail h3 {
  font-size: 20px;
  padding: 10px;
  letter-spacing: 5px;
}

.hello .section__one .Card .detail p {
  padding: 10px;
  font-size: 5px;
}

.hello .section__one .Card .detail h4 {
  display: none;
}

.hello .section__one .Card:hover .imageContainer {
  -webkit-transform: translateY(-10vh) scale(0.9);
          transform: translateY(-10vh) scale(0.9);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.hello .section__one .Card:hover .detail {
  -webkit-transform: translateY(-12vh);
          transform: translateY(-12vh);
  opacity: 1;
  -webkit-transition: .6s;
  transition: .6s;
}

@media all and (max-device-width: 1367px) {
  .hello {
    margin: 0;
    width: 100%;
    height: auto;
  }
  .hello .introduction {
    display: none;
  }
  .hello .yaya {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hello .yaya .Card {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
  }
  .hello .yaya .Card .imageContainer {
    padding-left: 30%;
    width: 120px;
    height: 20vh;
  }
  .hello .yaya .Card .imageContainer img {
    width: 150px;
    height: 20vh;
    -webkit-box-shadow: 13px 0.3px 5px #e0cfcff3;
            box-shadow: 13px 0.3px 5px #e0cfcff3;
    -webkit-transform: rotateY(28deg);
            transform: rotateY(28deg);
  }
  .hello .yaya .Card .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 50px;
    padding-top: 10px;
  }
  .hello .yaya .Card .detail h3 {
    font-size: 20px;
  }
  .hello .yaya .Card .detail p, .hello .yaya .Card .detail h4 {
    display: none;
  }
}

@media all and (max-device-width: 400px) {
  .hello .yaya .Card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100px;
            flex: 1 0 100px;
    font-size: 10px;
  }
  .hello .yaya .Card .imageContainer {
    padding: 0;
  }
  .hello .yaya .Card .detail {
    padding-left: 0px;
    height: 3rem;
  }
  .hello .yaya .Card .detail h3 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=Recomended.css.map */