.bye,
.yaya {
  display: none;
}
.section__one {
  width: 100%;
  display: flex;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  background-color: black;
}
.Card {
  white-space: nowrap;
  display: inline-block;
}
.scrollArea {
  display: flex;
  overflow-x: scroll;
  height: 40vh;
  overflow-y: hidden;
}
.Card .imageContainer {
  width: 320px;
  height: 40vh;
  overflow: hidden;
}
.Card .imageContainer img {
  width: 320px;
  height: 40vh;
  object-fit: cover;
}
.Card .detail {
  color: white;

  text-align: left;

  opacity: 0;
  white-space: pre-wrap;
}
.Card .detail h3 {
  font-size: 1.2em;
  padding: 10px;
  letter-spacing: 5px;
}
.Card .detail p {
  max-width: 300px;
  padding: 10px;
  overflow: hidden;
  /*文本不会换行*/
  white-space: nowrap;
  /*当文本溢出包含元素时，以省略号表示超出的文本*/
  text-overflow: ellipsis;
  color: var(--fiction-color);
}
.Card .detail h4 {
  display: none;
}
.Card:hover .imageContainer {
  transform: translateY(-10vh) scale(0.9);
  transition: all 0.6s;
}
.Card:hover .detail {
  transform: translateY(-12vh);
  opacity: 1;
  transition: 0.6s;
}
@media all and (max-device-width: 1367px) {
  .yaya {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
  }
  .Card {
    height: 100%;
    width: 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    padding: 0.5em;
  }
  .Card .imageContainer {
    width: 60%;
    height: 10%;
  }
  .Card .imageContainer img {
    width: 100%;
    height: 20vh;
    box-shadow: 13px 0.3px 5px #e0cfcff3;
    transform: rotateY(28deg);
  }
  .Card:hover .imageContainer {
    transform: translateY(0);
  }
  .Card:hover .detail {
    transform: translateY(0);
  }
  .Card .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 10px;
    opacity: 1;
  }
  .Card .detail h3 {
    font-size: 1em;
  }
  .Card .detail h4,
  .Card .detail p {
    display: none;
  }
}
@media all and (max-device-width: 600px) {
  .Card {
    flex: 1 0 150px;
    font-size: 0.9em;
  }
  .Card .imageContainer {
    padding: 0;
  }
  .Card .detail {
    padding-left: 0px;
    height: 3rem;
  }
  .Card .detail h3 {
    font-size: 15px;
  }
}
